---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import CTA from "../components/sections/CTA.astro";
import Team from "../components/sections/Team.astro";

import * as siteSettings from "../content/settings/Harbor-Vista.md"
import * as about from "../content/navigation/About.md"
import * as ourPortfolio from "../content/navigation/Our-Portfolio.md"
import * as managementTeam from "../content/navigation/Management-Team.md"
---

<Layout title={siteSettings.frontmatter.title} description={siteSettings.frontmatter.description}>
	<Fragment slot="SEO">
		<!-- opengraph -->
	</Fragment>
	<main slot="main-content">
		<Hero id={about.frontmatter.href} title={siteSettings.frontmatter.header} description={siteSettings.frontmatter.intro} investorLink={siteSettings.frontmatter.investorLink} />
		<Portfolio id={ourPortfolio.frontmatter.href} />
		<CTA id="newsletter" />
		<Team id={managementTeam.frontmatter.href} />
	</main>
</Layout>

