---
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import FontLoad from "../components/FontLoad.astro";

let navigationItems = await Astro.glob("../content/navigation/*.md");
navigationItems = navigationItems.sort((a, b) => a.frontmatter.order - b.frontmatter.order);

// const navigation = [
//     {
//         name: 'About',
//         href: 'about'
//     },
//     {
//         name: 'Our Portfolio',
//         href: 'portfolio'
//     },
//     {
//         name: 'Management Team',
//         href: 'team'
//     },
//     {
//         name: 'Contact',
//         href: 'https://investors.appfolioim.com/younglewinmurphy/investor/contact-us',
//         external: true
//     }
// ]

import * as siteSettings from "../content/settings/Harbor-Vista.md"

const route = Astro.url.pathname;

const { title, description, canonicalURL } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
    <slot name="SEO"></slot>
    <link rel="icon" type="image/svg+xml" href="/hv-favicon.svg">
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="canonical" href={canonicalURL}>
    <FontLoad />
    <style>
        @font-face {
        font-family: "Figtree";
        src: url("/fonts/Figtree-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        }
        @font-face {
            font-family: "Figtree";
            src: url("/fonts/Figtree-Italic.woff2") format("woff2");
            font-weight: 400;
            font-style: italic;
            font-display: swap;
        }
        @font-face {
            font-family: "Figtree";
            src: url("/fonts/Figtree-Medium.woff2") format("woff2");
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: "Figtree";
            src: url("/fonts/Figtree-SemiBold.woff2") format("woff2");
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: "Figtree";
            src: url("/fonts/Figtree-Black.woff2") format("woff2");
            font-weight: 900;
            font-style: normal;
            font-display: swap;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.10.5/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
</head>
<body class="text-neutral-700 leading-normal" x-data="{ linkActive: false }">
    <SiteHeader navigation={navigationItems} investorLink={siteSettings.frontmatter.investorLink} isHome={route === '/'} />
    <slot name='main-content'></slot>
    <SiteFooter navigation={navigationItems} investorLink={siteSettings.frontmatter.investorLink} isHome={route === '/'} />
</body>
</html>

<script>
	// import Alpine from "alpinejs";
	// import intersect from "@alpinejs/intersect";
    // import focus from "@alpinejs/focus";

    // Alpine.plugin(intersect);
    // Alpine.plugin(focus);
	// Alpine.start();

    document.addEventListener('DOMContentLoaded', () => {
        const splide = new Splide( '.splide', {
            type: 'loop',
            padding: '15%',
            gap: '2em',
            breakpoints: {
                640: {
                    padding: '8%',
                    gap: '1em'
                }
            }
        } );
        splide.mount();
    })
</script>

<style is:global>
    /* Splide styles */
    .splide__pagination__page {
        background: #CFE9FF !important;
    }

    .splide__pagination__page.is-active {
        background: #fff !important;
        opacity: 1 !important;
    }

    .splide__track::before, .splide__track::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 22%;
        z-index: 2;
    }

    .splide__track::before {
        left: 0px;
        background: linear-gradient(to right, white, transparent);
    }

    .splide__track::after {
        right: 0px;
        background: linear-gradient(to left, white, transparent);
    }

    .splide__arrow {
        z-index: 5 !important;
    }

    .splide__arrow svg {
        fill: #0066BC !important;
        height: 1.5em;
        width: 1.5em;
    }

    @media (max-width: 640px) {
        .splide__track::before, .splide__track::after {
            width: 15%;
        }
    }
</style>